<div class="email-preview-container" *ngIf="data; else noEmail">
  <div class="email-actions">
    <img [src]="'action_group.svg' | assetUrl : 'icon'" alt="group" />
    <img [src]="'count_group.svg' | assetUrl : 'icon'" alt="group" />
  </div>
  <div class="email-preview">
    <div class="email-user-section">
      <div class="email-user-card">
        <div class="email-user-image">
          <img
            [src]="data.sender.image | assetUrl : 'image'"
            [alt]="data.sender.firstName"
          />
        </div>
        <div class="email-user-details">
          <p class="email-user-header">
              {{ data.sender.firstName }} {{ data.sender.lastName }}
          </p>
          <p class="email-subject">
            {{ data.subject }}
          </p>
          <p class="email-address">
            {{ data.sender.emailAddress }}
          </p>
          <p class="email-time">{{ data.date | day }} {{ data.time }}</p>
        </div>
      </div>
      <div class="email-body" *ngIf="data.attachments.length">
        <p class="email-content">
          {{data.body}}
        </p>
        <p *ngIf="data?.attachments?.length" class="attachment">
          <img [src]="'attachment.svg' | assetUrl : 'icon'" alt="Attachments" />
          <span class="attachment-label"
            >{{ data.attachments.length }} Attachments</span
          >
        </p>
      </div>
      <div class="attachment-grid">
        <img *ngFor="let attachment of data.attachments; index as i" [src]="attachment | assetUrl:'image'"alt="Attachment">
      </div>
      <div class="reply-section">
        <div  class="reply-input">
          <input type="text" name="reply" id="reply" placeholder="Type Message" autocomplete="off">
          <img [src]="'attachment.svg' | assetUrl:'icon'" alt="attachment">
          <img [src]="'send.svg' | assetUrl:'icon'" alt="reply">
        </div>
          
      </div>
    </div>
    
  </div>
</div>
<ng-template #noEmail>
  <p class="no-data">No data to display.</p>
</ng-template>
