@import "../../shared/styles/variables";

.container {
  width: 100%;
  .email-cards-container {
    height: 100vh;
    width: 30%;
    padding: 1.9rem;
    padding-top: 0;
    position: fixed;
  }

  .email-details-container {
    margin-left: 35%;
    width: 65%;
    height: 100vh;
    padding: 1rem;
    background-color: $white;
    .email-actions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6rem;
    }
  }
}
