@import "../../shared/styles/_variables.scss";

.main-content {
  width: calc(100% - 15%);
  background-color: $offWhite;
  height: 100vh;
  margin-left: 15%;
  position: fixed;
}

@media screen and (min-width: 861px) and (max-width: 1000px) {
  .main-content {
    width: calc(100% - 20%);
    margin-left: 20%;
  }
}

@media screen and (max-width: 860px) {
  .main-content {
    width: 100%;
    margin-left: 0;
  }
}
