<div class="side-bar" [ngClass]="{ 'side-bar-collapsed': sidebarCollapsed }">
  <div
    class="side-bar-expand-icon"
    (click)="openSidebar()"
    *ngIf="sidebarCollapsed"
  >
    <img [src]="'hamburger.svg' | assetUrl : 'icon'" />
  </div>
  <div class="side-bar-user-info" *ngIf="!sidebarCollapsed">
    <div class="user-image">
      <img
        [src]="currentUser.image | assetUrl : 'image'"
        alt="data.sender.firstName"
      />
    </div>
    <div class="user-details" *ngIf="!sidebarCollapsed">
      <div class="user-header">
        <p class="user-name">
          {{ currentUser?.firstName }} {{ currentUser?.lastName }}
        </p>
        <p class="user-email">
          {{ currentUser.emailAddress }}
        </p>
      </div>
    </div>
    <div
      class="close-icon"
      (click)="closeSidebar()"
      *ngIf="!sidebarCollapsed && isMobileDevice"
    >
      <img [src]="'close.svg' | assetUrl : 'icon'" />
    </div>
  </div>
  <ul class="side-bar-nav">
    <li
      class="side-bar-nav-item"
      *ngFor="let menu of menuItems"
      [routerLink]="menu.routerLink"
      routerLinkActive="active"
    >
      <img [src]="menu.icon | assetUrl : 'icon'" [alt]="menu.label" />
      <span class="nav-item-label" *ngIf="!sidebarCollapsed">
        {{ menu.label }}
      </span>
      <span *ngIf="menu.chipCount && !sidebarCollapsed" class="chip-counter">{{
        menu.chipCount
      }}</span>
    </li>
  </ul>

  <div class="side-bar-folder-header" *ngIf="!sidebarCollapsed">
    <span> Folders </span>
    <span class="add-folder-btn">Add</span>
  </div>
  <ul class="side-bar-nav">
    <li
      class="side-bar-nav-item"
      *ngFor="let folder of folders"
      (click)="navigateToFolder(folder)"
    >
      <img [src]="folder.icon | assetUrl : 'icon'" [alt]="folder.label" />
      <span class="nav-item-label" *ngIf="!sidebarCollapsed">
        {{ folder.label }}
      </span>
    </li>
  </ul>
  <div class="compose-section" *ngIf="!sidebarCollapsed">
    <button class="compose-button">
      <span class="compose-button-label">Compose</span>
    </button>
  </div>
</div>
<div class="overlay" *ngIf="!sidebarCollapsed && isMobileDevice"></div>
