@import "../../shared/styles/mixins";
@import "../../shared/styles/variables";

.side-bar {
  height: 100vh;
  width: 15%;
  position: fixed;
  background-color: $lightGray;
  box-shadow: 20px 0px 40px $transparentBlack;
  opacity: 1;
  align-items: center;

  .side-bar-user-info {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .user-image {
      height: 100%;
      img {
        margin: 1em;
        @include user-image(3em);
      }
    }
    .user-details {
      width: 85%;
      height: 100%;
      display: flex;
      align-items: center;
      .user-header {
        margin-bottom: 0.6em;
        display: flex;
        flex-direction: column;
        .user-name {
          @include bold;
          color: $skyBlue;
        }
        .user-email {
          font-size: 0.7em;
          color: $darkGray;
        }
      }
    }
  }

  .user-section {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .side-bar-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .side-bar-nav-item {
      opacity: 1;
      width: 100%;
      text-align: left;
      padding: 1.1rem 1.5rem;
      img {
        height: 1em;
        width: 1em;
      }
      .nav-item-label {
        font-size: 1em;
        padding: 0.6em;
        margin-bottom: 0.4em;
      }
      .chip-counter {
        text-align: left;
        letter-spacing: 0px;
        color: $white;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        font-size: 0.8rem;
        background-color: $lightRed;
        border-radius: 16px;
        float: right;
      }
    }
    .side-bar-nav-item:hover {
      @include hover;
    }
    .side-bar-nav-item:active {
      background: #ffffff 0% 0% no-repeat padding-box;
    }
  }
  .side-bar-folder-header {
    @include bold;
    font-size: 1.4rem;
    padding: 1.4rem 1rem;
    display: flex;
    justify-content: space-between;
    .add-folder-btn {
      text-align: left;
      letter-spacing: 0px;
      color: $semiTransparentDarkGray;
      opacity: 0.7;
      padding: 0.2rem 0.8rem;
      font-size: 0.8rem;
      background-color: $transparentSkyBlue;
      border-radius: 16px;
      &:hover {
        @include hover;
      }
    }
  }
}

.compose-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .compose-button {
    background: $lightRed 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    width: 75%;
    display: flex;
    justify-self: center;
    height: 3rem;
    border: none;
    color: $white;
    font-size: 1.2rem;
    align-items: center;
    .compose-button-label {
      margin: 0 auto;
    }
    &:hover {
      cursor: pointer;
      backdrop-filter: blur(5px);
      box-shadow: 0 4px 8px 0 $transparentBlack,
        0 6px 20px 0 $semiTransparentDarkGray;
    }
  }
}
.active {
  background-color: $white;
  border-left: $skyBlue 5px solid;
}

@media screen and (min-width: 861px) and (max-width: 1000px) {
  .side-bar {
    width: 20%;
  }
}

@media screen and (max-width: 860px) {
  .side-bar {
    display: none;
  }
}
