@import "../../styles/mixins";
@import "../../styles/variables";

.email-card {
  background: $white;
  border-radius: 20px;
  margin-bottom: 0.85rem;
  opacity: 1;
  width: 100%;
  height: 10.2rem;
  transition: all 0.3s ease;
  top: 0;
  overflow: hidden;
  &.active {
    margin: 0.9rem 0;
    border-bottom: 5px solid $moreTransparentDarkGray;
    box-shadow: 0 6px 20px 0 $transparentBlack;
  }
  .email-user-section {
    display: flex;
    padding: 1rem;
    width: 100%;
    height: 100%;
    .email-user-image {
      height: 100%;
      img {
        @include user-image(3em);
      }
    }
    .email-user-details {
      padding-left: 1rem;
      width: 85%;
      display: flex;
      flex-direction: column;
      .email-user-header {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .email-date-time {
          margin-left: 0.5rem;
          font-size: 0.75rem;
        }
      }
      .email-preview {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        height: 55%;
        width: 100%;
        .email-body {
          overflow: hidden;
          height: 80%;
        }
      }
      .attachment {
        display: inline;
        color: $skyBlue;
        font-size: 0.6rem;
        img {
          height: 1em;
        }
        .attachment-label {
          margin: 0.2em 0.5em 0.6em;
        }
      }
    }
  }
  &:hover {
    @include hover;
  }
}

.active {
  outline: 1px $transparentBlack solid;
}
