$white: #ffffff;
$offWhite: #f9faf5;
$lightGray: #f5f8fa;
$transparentBlack: #00000014;
$skyBlue: #1fb5eb;
$lightRed: #ff5f5f;
$transparentSkyBlue: #1fb5eb66;
$darkGray: #333333;
$mediumGray: #707070;
$lightBlue: #c7dfef;
$semiTransparentDarkGray: #333333b3;
$moreTransparentDarkGray: #33333380;
$semiTransparentLightRed: #ff5f5f73;
$gray: #959595;
$lighterGray: #cfcfcf;
$veryTransparentBlack: #0000000d;
$verySemiTransparentDarkGray: #33333399;
$verySemiTransparentDarkGray2: #33333399;
