/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Product Sans;
    src: url(assets/fonts/product-sans/Product\ Sans\ Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Product Sans ;
}